<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>Films finder</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="src/styles/watch.css" />
		<link rel="shortcut icon" href="src/icons/logo.svg" type="image/svg">

		<!-- Кодировка страницы -->
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />

	</head>
	<!-- Отображаемое тело страницы -->
	<body content="width=device-width , initial-scale=1, shrink-to-fit=no" >
		<header class="header">
			<div class="header__list">							
			
				<a href="index" class="header__icon icon-header">
					<img src="/src/icons/logo.svg" width="50" height="50"></img></a>	

				 <% if ( user.role_id>0  ) { %>
				      <div class="addFilm">
				        <a href="addFilmPage" class="addFilm__ref">Добавить фильм</a>
				      </div>
			      <% } %>
    
				<div class="header__search">
					<form  action="searching" method="GET" >						
						<input   type="search" name="search"   placeholder=" Поиск...">
						<span  name="button" onclick="searchInput()">	
							 <img  src="/src/icons/search.svg" width="20" height="20">
						</span>
					</form>
				</div>

				
				<a class="header__profile">
					<p><%= user.login %></p>
					
					<a class="logOut" href="logOut" >Выйти</a>
					
				</a>
				
			</div>
		</header>
		<div class="container">
			<div class="side_bar">
				<ul>
				    <li>
				     	
				        <a href="index" ><img   src="/src/icons/home-page.svg" width="20" height="20">Главная</a> 
				    </li>
				    <li>
				   
				    	
				        <a href="watch" ><img  src="/src/icons/watch.svg" width="20" height="20">Посмотрю</a> 
				    </li>
				    <li>
				    
				    	
				        <a href="viewed" ><img  src="/src/icons/viewed.svg" width="20" height="20">Просмотрено</a> 
				    </li>
				    <li>
				    	
				       
				   
				        <a href="about" > <img  src="/src/icons/About.svg" width="20" height="20">О сервисе</a> 
				    </li>
				   
					</ul>
			</div>

			
		
			<div class="main">
				<p class="main__title">
					Посмотрю
				</p>
				<div class="main__container">
				
				</div>
			</div>
		</div>
		<script type="text/javascript">
				  		
	 			function del(elem) {
					elem.parentNode.parentNode.parentNode.classList.toggle("del");
				}
				
		</script>

<script src="/js/watchPage.js" ></script>ss
<script src="/js/script.js" ></script>

	</body>
	
</html>